$pantone-solid-c-hsl: (
    pantone-Yellow-C: hsl(52, 100%, 50%),
    pantone-Yellow-012-C: hsl(51, 100%, 50%),
    pantone-Orange-021-C: hsl(19, 100%, 50%),
    pantone-Warm-Red-C: hsl(3, 94%, 60%),
    pantone-Red-032-C: hsl(356, 85%, 57%),
    pantone-Rubine-Red-C: hsl(334, 100%, 40%),
    pantone-Rhodamine-Red-C: hsl(319, 100%, 44%),
    pantone-Purple-C: hsl(300, 64%, 45%),
    pantone-Violet-C: hsl(267, 100%, 30%),
    pantone-Blue-072-C: hsl(244, 93%, 32%),
    pantone-Reflex-Blue-C: hsl(231, 100%, 27%),
    pantone-Process-Blue-C: hsl(200, 100%, 40%),
    pantone-Green-C: hsl(166, 100%, 34%),
    pantone-Black-C: hsl(26, 8%, 16%),
    pantone-Yellow-0131-C: hsl(59, 76%, 79%),
    pantone-Red-0331-C: hsl(350, 93%, 84%),
    pantone-Magenta-0521-C: hsl(320, 69%, 82%),
    pantone-Violet-0631-C: hsl(272, 50%, 74%),
    pantone-Blue-0821-C: hsl(193, 74%, 69%),
    pantone-Green-0921-C: hsl(167, 61%, 76%),
    pantone-Black-0961-C: hsl(34, 8%, 59%),
    pantone-801-C: hsl(195, 100%, 40%),
    pantone-802-C: hsl(112, 67%, 51%),
    pantone-803-C: hsl(55, 100%, 50%),
    pantone-804-C: hsl(31, 100%, 65%),
    pantone-805-C: hsl(358, 100%, 72%),
    pantone-806-C: hsl(323, 100%, 62%),
    pantone-807-C: hsl(312, 82%, 54%),
    pantone-871-C: hsl(43, 26%, 41%),
    pantone-872-C: hsl(39, 27%, 41%),
    pantone-873-C: hsl(35, 28%, 41%),
    pantone-874-C: hsl(32, 28%, 43%),
    pantone-875-C: hsl(26, 26%, 42%),
    pantone-876-C: hsl(23, 30%, 42%),
    pantone-877-C: hsl(204, 2%, 55%),
    pantone-Medium-Yellow-C: hsl(51, 100%, 50%),
    pantone-Bright-Orange-C: hsl(22, 100%, 50%),
    pantone-Bright-Red-C: hsl(6, 95%, 55%),
    pantone-Strong-Red-C: hsl(335, 100%, 40%),
    pantone-Pink-C: hsl(321, 71%, 49%),
    pantone-Medium-Purple-C: hsl(273, 100%, 28%),
    pantone-Dark-Blue-C: hsl(227, 100%, 31%),
    pantone-Medium-Blue-C: hsl(201, 100%, 40%),
    pantone-Bright-Green-C: hsl(167, 100%, 35%),
    pantone-Neutral-Black-C: hsl(240, 1%, 14%),
    pantone-100-C: hsl(56, 89%, 67%),
    pantone-101-C: hsl(56, 92%, 63%),
    pantone-102-C: hsl(54, 100%, 49%),
    pantone-103-C: hsl(51, 100%, 39%),
    pantone-104-C: hsl(52, 100%, 34%),
    pantone-105-C: hsl(51, 56%, 35%),
    pantone-7401-C: hsl(45, 80%, 80%),
    pantone-7402-C: hsl(46, 69%, 76%),
    pantone-7403-C: hsl(45, 76%, 73%),
    pantone-7404-C: hsl(51, 89%, 60%),
    pantone-7405-C: hsl(51, 100%, 47%),
    pantone-7406-C: hsl(49, 100%, 47%),
    pantone-7407-C: hsl(39, 54%, 56%),
    pantone-106-C: hsl(53, 94%, 63%),
    pantone-107-C: hsl(53, 96%, 56%),
    pantone-108-C: hsl(52, 100%, 50%),
    pantone-109-C: hsl(49, 100%, 50%),
    pantone-110-C: hsl(47, 100%, 43%),
    pantone-111-C: hsl(49, 100%, 33%),
    pantone-112-C: hsl(50, 79%, 34%),
    pantone-113-C: hsl(51, 94%, 65%),
    pantone-114-C: hsl(50, 96%, 62%),
    pantone-115-C: hsl(50, 98%, 57%),
    pantone-116-C: hsl(48, 100%, 50%),
    pantone-117-C: hsl(45, 100%, 39%),
    pantone-118-C: hsl(46, 100%, 34%),
    pantone-119-C: hsl(47, 60%, 34%),
    pantone-127-C: hsl(50, 85%, 69%),
    pantone-128-C: hsl(49, 87%, 63%),
    pantone-129-C: hsl(48, 88%, 60%),
    pantone-130-C: hsl(42, 100%, 47%),
    pantone-131-C: hsl(41, 100%, 40%),
    pantone-132-C: hsl(44, 100%, 31%),
    pantone-133-C: hsl(44, 60%, 26%),
    pantone-1205-C: hsl(46, 88%, 76%),
    pantone-1215-C: hsl(45, 94%, 72%),
    pantone-1225-C: hsl(42, 100%, 64%),
    pantone-1235-C: hsl(41, 100%, 55%),
    pantone-1245-C: hsl(42, 82%, 43%),
    pantone-1255-C: hsl(43, 70%, 40%),
    pantone-1265-C: hsl(42, 57%, 34%),
    pantone-120-C: hsl(47, 95%, 69%),
    pantone-121-C: hsl(46, 98%, 67%),
    pantone-122-C: hsl(46, 99%, 63%),
    pantone-123-C: hsl(44, 100%, 59%),
    pantone-124-C: hsl(44, 100%, 46%),
    pantone-125-C: hsl(44, 100%, 35%),
    pantone-126-C: hsl(44, 80%, 34%),
    pantone-7548-C: hsl(47, 100%, 50%),
    pantone-7549-C: hsl(43, 100%, 50%),
    pantone-7550-C: hsl(41, 100%, 41%),
    pantone-7551-C: hsl(42, 100%, 35%),
    pantone-7552-C: hsl(38, 60%, 28%),
    pantone-7553-C: hsl(38, 45%, 24%),
    pantone-7554-C: hsl(35, 28%, 23%),
    pantone-7555-C: hsl(44, 83%, 45%),
    pantone-7556-C: hsl(43, 70%, 42%),
    pantone-7557-C: hsl(44, 64%, 38%),
    pantone-7558-C: hsl(40, 60%, 37%),
    pantone-7559-C: hsl(38, 55%, 36%),
    pantone-7560-C: hsl(39, 46%, 34%),
    pantone-7561-C: hsl(44, 35%, 31%),
    pantone-134-C: hsl(42, 97%, 71%),
    pantone-135-C: hsl(40, 100%, 67%),
    pantone-136-C: hsl(40, 100%, 62%),
    pantone-137-C: hsl(38, 100%, 50%),
    pantone-138-C: hsl(34, 100%, 44%),
    pantone-139-C: hsl(37, 96%, 35%),
    pantone-140-C: hsl(38, 61%, 28%),
    pantone-1345-C: hsl(37, 97%, 76%),
    pantone-1355-C: hsl(36, 100%, 72%),
    pantone-1365-C: hsl(36, 100%, 64%),
    pantone-1375-C: hsl(34, 100%, 55%),
    pantone-1385-C: hsl(34, 100%, 42%),
    pantone-1395-C: hsl(34, 74%, 35%),
    pantone-1405-C: hsl(35, 57%, 27%),
    pantone-141-C: hsl(43, 85%, 65%),
    pantone-142-C: hsl(42, 86%, 61%),
    pantone-143-C: hsl(41, 87%, 57%),
    pantone-144-C: hsl(35, 100%, 46%),
    pantone-145-C: hsl(37, 100%, 41%),
    pantone-146-C: hsl(37, 82%, 36%),
    pantone-147-C: hsl(42, 46%, 30%),
    pantone-7408-C: hsl(46, 100%, 48%),
    pantone-7409-C: hsl(42, 87%, 54%),
    pantone-7410-C: hsl(24, 99%, 73%),
    pantone-7411-C: hsl(32, 73%, 63%),
    pantone-7412-C: hsl(29, 64%, 52%),
    pantone-7413-C: hsl(29, 71%, 53%),
    pantone-7414-C: hsl(30, 78%, 43%),
    pantone-7562-C: hsl(38, 41%, 56%),
    pantone-7563-C: hsl(39, 67%, 51%),
    pantone-7564-C: hsl(37, 95%, 44%),
    pantone-7565-C: hsl(30, 69%, 47%),
    pantone-7566-C: hsl(24, 54%, 44%),
    pantone-7567-C: hsl(24, 49%, 36%),
    pantone-7568-C: hsl(25, 38%, 34%),
    pantone-7569-C: hsl(33, 71%, 49%),
    pantone-7570-C: hsl(31, 66%, 50%),
    pantone-7571-C: hsl(31, 61%, 48%),
    pantone-7572-C: hsl(29, 56%, 46%),
    pantone-7573-C: hsl(29, 59%, 41%),
    pantone-7574-C: hsl(29, 48%, 42%),
    pantone-7575-C: hsl(32, 45%, 35%),
    pantone-712-C: hsl(28, 94%, 80%),
    pantone-713-C: hsl(28, 97%, 76%),
    pantone-714-C: hsl(28, 97%, 69%),
    pantone-715-C: hsl(29, 92%, 57%),
    pantone-716-C: hsl(30, 100%, 46%),
    pantone-717-C: hsl(26, 100%, 42%),
    pantone-718-C: hsl(24, 100%, 37%),
    pantone-148-C: hsl(33, 98%, 77%),
    pantone-149-C: hsl(32, 100%, 74%),
    pantone-150-C: hsl(32, 100%, 68%),
    pantone-151-C: hsl(31, 100%, 50%),
    pantone-152-C: hsl(30, 100%, 45%),
    pantone-153-C: hsl(30, 81%, 41%),
    pantone-154-C: hsl(30, 71%, 35%),
    pantone-155-C: hsl(38, 71%, 78%),
    pantone-156-C: hsl(34, 78%, 71%),
    pantone-157-C: hsl(30, 80%, 63%),
    pantone-158-C: hsl(26, 81%, 52%),
    pantone-159-C: hsl(25, 81%, 44%),
    pantone-160-C: hsl(26, 70%, 37%),
    pantone-161-C: hsl(27, 50%, 25%),
    pantone-1485-C: hsl(29, 100%, 69%),
    pantone-1495-C: hsl(30, 100%, 55%),
    pantone-1505-C: hsl(25, 100%, 50%),
    pantone-1525-C: hsl(23, 100%, 36%),
    pantone-1535-C: hsl(25, 86%, 31%),
    pantone-1545-C: hsl(24, 60%, 25%),
    pantone-1555-C: hsl(22, 100%, 78%),
    pantone-1565-C: hsl(22, 100%, 71%),
    pantone-1575-C: hsl(23, 100%, 60%),
    pantone-1585-C: hsl(22, 100%, 54%),
    pantone-1595-C: hsl(23, 80%, 47%),
    pantone-1605-C: hsl(23, 65%, 39%),
    pantone-1615-C: hsl(22, 63%, 34%),
    pantone-162-C: hsl(19, 100%, 81%),
    pantone-163-C: hsl(19, 100%, 72%),
    pantone-164-C: hsl(20, 100%, 63%),
    pantone-165-C: hsl(19, 100%, 56%),
    pantone-166-C: hsl(21, 96%, 45%),
    pantone-167-C: hsl(20, 74%, 43%),
    pantone-168-C: hsl(19, 60%, 28%),
    pantone-7576-C: hsl(24, 66%, 58%),
    pantone-7577-C: hsl(24, 73%, 56%),
    pantone-7578-C: hsl(21, 71%, 52%),
    pantone-7579-C: hsl(16, 72%, 51%),
    pantone-7580-C: hsl(13, 59%, 47%),
    pantone-7581-C: hsl(17, 45%, 36%),
    pantone-7582-C: hsl(21, 31%, 31%),
    pantone-1625-C: hsl(12, 100%, 77%),
    pantone-1635-C: hsl(13, 100%, 71%),
    pantone-1645-C: hsl(15, 100%, 61%),
    pantone-1655-C: hsl(18, 98%, 50%),
    pantone-1665-C: hsl(18, 96%, 44%),
    pantone-1675-C: hsl(16, 70%, 39%),
    pantone-1685-C: hsl(15, 60%, 32%),
    pantone-169-C: hsl(6, 100%, 84%),
    pantone-170-C: hsl(8, 100%, 73%),
    pantone-171-C: hsl(11, 100%, 61%),
    pantone-172-C: hsl(13, 96%, 53%),
    pantone-173-C: hsl(13, 73%, 47%),
    pantone-174-C: hsl(12, 64%, 36%),
    pantone-175-C: hsl(11, 45%, 29%),
    pantone-7583-C: hsl(21, 63%, 47%),
    pantone-7584-C: hsl(20, 66%, 44%),
    pantone-7585-C: hsl(19, 52%, 45%),
    pantone-7586-C: hsl(19, 53%, 40%),
    pantone-7587-C: hsl(18, 52%, 38%),
    pantone-7588-C: hsl(21, 40%, 35%),
    pantone-7589-C: hsl(25, 24%, 29%),
    pantone-7590-C: hsl(26, 39%, 73%),
    pantone-7591-C: hsl(21, 45%, 55%),
    pantone-7592-C: hsl(16, 55%, 45%),
    pantone-7593-C: hsl(12, 56%, 39%),
    pantone-7594-C: hsl(10, 47%, 33%),
    pantone-7595-C: hsl(15, 40%, 30%),
    pantone-7596-C: hsl(17, 30%, 28%),
    pantone-7597-C: hsl(10, 71%, 48%),
    pantone-7598-C: hsl(12, 64%, 45%),
    pantone-7599-C: hsl(10, 65%, 43%),
    pantone-7600-C: hsl(12, 53%, 36%),
    pantone-7601-C: hsl(14, 50%, 34%),
    pantone-7602-C: hsl(19, 43%, 34%),
    pantone-7603-C: hsl(20, 36%, 30%),
    pantone-7604-C: hsl(7, 24%, 86%),
    pantone-7605-C: hsl(9, 43%, 79%),
    pantone-7606-C: hsl(7, 48%, 69%),
    pantone-7607-C: hsl(9, 45%, 57%),
    pantone-7608-C: hsl(7, 46%, 44%),
    pantone-7609-C: hsl(5, 43%, 36%),
    pantone-7610-C: hsl(3, 36%, 30%),
    pantone-7611-C: hsl(16, 40%, 78%),
    pantone-7612-C: hsl(12, 36%, 67%),
    pantone-7613-C: hsl(12, 32%, 62%),
    pantone-7614-C: hsl(14, 20%, 55%),
    pantone-7615-C: hsl(10, 16%, 45%),
    pantone-7616-C: hsl(0, 17%, 36%),
    pantone-7617-C: hsl(358, 18%, 29%),
    pantone-7520-C: hsl(14, 58%, 80%),
    pantone-7521-C: hsl(25, 33%, 63%),
    pantone-7522-C: hsl(13, 39%, 52%),
    pantone-7523-C: hsl(4, 33%, 51%),
    pantone-7524-C: hsl(7, 39%, 46%),
    pantone-7525-C: hsl(22, 32%, 46%),
    pantone-7526-C: hsl(16, 67%, 32%),
    pantone-489-C: hsl(18, 60%, 81%),
    pantone-488-C: hsl(16, 64%, 79%),
    pantone-487-C: hsl(13, 67%, 75%),
    pantone-486-C: hsl(12, 70%, 70%),
    pantone-485-C: hsl(4, 77%, 48%),
    pantone-484-C: hsl(8, 62%, 37%),
    pantone-483-C: hsl(11, 47%, 27%),
    pantone-176-C: hsl(352, 100%, 85%),
    pantone-177-C: hsl(355, 100%, 75%),
    pantone-178-C: hsl(358, 100%, 67%),
    pantone-179-C: hsl(4, 74%, 54%),
    pantone-180-C: hsl(3, 57%, 47%),
    pantone-181-C: hsl(1, 47%, 35%),
    pantone-1765-C: hsl(348, 100%, 82%),
    pantone-1775-C: hsl(349, 100%, 78%),
    pantone-1785-C: hsl(353, 93%, 63%),
    pantone-1788-C: hsl(355, 85%, 54%),
    pantone-1795-C: hsl(357, 69%, 49%),
    pantone-1805-C: hsl(356, 64%, 42%),
    pantone-1815-C: hsl(357, 54%, 32%),
    pantone-1767-C: hsl(347, 93%, 84%),
    pantone-1777-C: hsl(349, 95%, 69%),
    pantone-1787-C: hsl(353, 90%, 58%),
    pantone-1797-C: hsl(357, 60%, 50%),
    pantone-1807-C: hsl(357, 52%, 42%),
    pantone-1817-C: hsl(358, 32%, 30%),
    pantone-7618-C: hsl(16, 51%, 54%),
    pantone-7619-C: hsl(10, 56%, 48%),
    pantone-7620-C: hsl(2, 61%, 45%),
    pantone-7621-C: hsl(358, 66%, 40%),
    pantone-7622-C: hsl(357, 58%, 36%),
    pantone-7623-C: hsl(359, 53%, 35%),
    pantone-7624-C: hsl(1, 48%, 34%),
    pantone-7625-C: hsl(8, 73%, 56%),
    pantone-7626-C: hsl(5, 67%, 46%),
    pantone-7627-C: hsl(0, 60%, 41%),
    pantone-7628-C: hsl(359, 58%, 39%),
    pantone-7629-C: hsl(1, 37%, 31%),
    pantone-7630-C: hsl(1, 34%, 29%),
    pantone-7631-C: hsl(0, 32%, 26%),
    pantone-7415-C: hsl(17, 55%, 78%),
    pantone-7416-C: hsl(9, 74%, 61%),
    pantone-7417-C: hsl(8, 73%, 55%),
    pantone-7418-C: hsl(357, 55%, 57%),
    pantone-7419-C: hsl(351, 41%, 49%),
    pantone-7420-C: hsl(344, 64%, 37%),
    pantone-7421-C: hsl(343, 55%, 25%),
    pantone-182-C: hsl(345, 86%, 86%),
    pantone-183-C: hsl(345, 94%, 80%),
    pantone-184-C: hsl(347, 90%, 64%),
    pantone-185-C: hsl(349, 100%, 45%),
    pantone-186-C: hsl(350, 85%, 42%),
    pantone-187-C: hsl(351, 74%, 37%),
    pantone-188-C: hsl(351, 54%, 30%),
    pantone-196-C: hsl(350, 49%, 85%),
    pantone-197-C: hsl(346, 62%, 76%),
    pantone-198-C: hsl(349, 71%, 57%),
    pantone-199-C: hsl(346, 100%, 42%),
    pantone-200-C: hsl(348, 88%, 39%),
    pantone-201-C: hsl(351, 64%, 37%),
    pantone-202-C: hsl(352, 56%, 34%),
    pantone-189-C: hsl(342, 86%, 81%),
    pantone-190-C: hsl(343, 88%, 71%),
    pantone-191-C: hsl(344, 84%, 60%),
    pantone-192-C: hsl(342, 100%, 45%),
    pantone-193-C: hsl(343, 87%, 40%),
    pantone-194-C: hsl(346, 60%, 38%),
    pantone-195-C: hsl(346, 44%, 33%),
    pantone-1895-C: hsl(338, 76%, 84%),
    pantone-1905-C: hsl(339, 82%, 78%),
    pantone-1915-C: hsl(340, 84%, 61%),
    pantone-1925-C: hsl(339, 100%, 44%),
    pantone-1935-C: hsl(341, 100%, 39%),
    pantone-1945-C: hsl(340, 90%, 34%),
    pantone-1955-C: hsl(342, 74%, 31%),
    pantone-705-C: hsl(349, 57%, 91%),
    pantone-706-C: hsl(347, 72%, 89%),
    pantone-707-C: hsl(347, 85%, 84%),
    pantone-708-C: hsl(348, 88%, 77%),
    pantone-709-C: hsl(350, 82%, 66%),
    pantone-710-C: hsl(353, 72%, 56%),
    pantone-711-C: hsl(358, 64%, 48%),
    pantone-698-C: hsl(354, 54%, 89%),
    pantone-699-C: hsl(349, 69%, 86%),
    pantone-700-C: hsl(349, 73%, 81%),
    pantone-701-C: hsl(348, 66%, 71%),
    pantone-702-C: hsl(348, 57%, 59%),
    pantone-703-C: hsl(352, 52%, 47%),
    pantone-704-C: hsl(357, 58%, 39%),
    pantone-203-C: hsl(335, 60%, 81%),
    pantone-204-C: hsl(337, 68%, 71%),
    pantone-205-C: hsl(339, 71%, 57%),
    pantone-206-C: hsl(344, 100%, 40%),
    pantone-207-C: hsl(341, 100%, 32%),
    pantone-208-C: hsl(340, 62%, 32%),
    pantone-209-C: hsl(341, 49%, 29%),
    pantone-210-C: hsl(332, 88%, 80%),
    pantone-211-C: hsl(332, 86%, 73%),
    pantone-212-C: hsl(333, 84%, 62%),
    pantone-213-C: hsl(332, 78%, 50%),
    pantone-214-C: hsl(332, 86%, 43%),
    pantone-215-C: hsl(332, 79%, 38%),
    pantone-216-C: hsl(335, 57%, 31%),
    pantone-7422-C: hsl(349, 64%, 88%),
    pantone-7423-C: hsl(342, 67%, 63%),
    pantone-7424-C: hsl(336, 73%, 58%),
    pantone-7425-C: hsl(340, 66%, 43%),
    pantone-7426-C: hsl(342, 80%, 36%),
    pantone-7427-C: hsl(350, 70%, 35%),
    pantone-7428-C: hsl(343, 41%, 29%),
    pantone-7632-C: hsl(355, 14%, 81%),
    pantone-7633-C: hsl(354, 21%, 71%),
    pantone-7634-C: hsl(341, 42%, 58%),
    pantone-7635-C: hsl(341, 57%, 49%),
    pantone-7636-C: hsl(343, 71%, 43%),
    pantone-7637-C: hsl(346, 51%, 38%),
    pantone-7638-C: hsl(346, 47%, 34%),
    pantone-217-C: hsl(320, 51%, 83%),
    pantone-218-C: hsl(326, 70%, 66%),
    pantone-219-C: hsl(327, 80%, 47%),
    pantone-220-C: hsl(331, 100%, 32%),
    pantone-221-C: hsl(330, 100%, 28%),
    pantone-222-C: hsl(330, 58%, 27%),
    pantone-7639-C: hsl(351, 15%, 50%),
    pantone-7640-C: hsl(346, 39%, 41%),
    pantone-7641-C: hsl(343, 53%, 36%),
    pantone-7642-C: hsl(336, 43%, 32%),
    pantone-7643-C: hsl(336, 38%, 29%),
    pantone-7644-C: hsl(333, 32%, 26%),
    pantone-7645-C: hsl(336, 30%, 24%),
    pantone-223-C: hsl(321, 74%, 76%),
    pantone-224-C: hsl(322, 76%, 68%),
    pantone-225-C: hsl(322, 80%, 49%),
    pantone-226-C: hsl(328, 100%, 41%),
    pantone-227-C: hsl(326, 100%, 33%),
    pantone-228-C: hsl(324, 84%, 29%),
    pantone-229-C: hsl(328, 51%, 27%),
    pantone-230-C: hsl(322, 78%, 80%),
    pantone-231-C: hsl(321, 83%, 71%),
    pantone-232-C: hsl(321, 80%, 57%),
    pantone-233-C: hsl(322, 100%, 39%),
    pantone-234-C: hsl(322, 100%, 32%),
    pantone-235-C: hsl(323, 85%, 28%),
    pantone-670-C: hsl(321, 35%, 87%),
    pantone-671-C: hsl(320, 46%, 82%),
    pantone-672-C: hsl(321, 50%, 75%),
    pantone-673-C: hsl(322, 52%, 69%),
    pantone-674-C: hsl(324, 49%, 56%),
    pantone-675-C: hsl(326, 65%, 41%),
    pantone-676-C: hsl(328, 100%, 29%),
    pantone-677-C: hsl(326, 31%, 85%),
    pantone-678-C: hsl(324, 33%, 84%),
    pantone-679-C: hsl(323, 33%, 81%),
    pantone-680-C: hsl(322, 32%, 69%),
    pantone-681-C: hsl(323, 30%, 56%),
    pantone-682-C: hsl(324, 36%, 44%),
    pantone-683-C: hsl(328, 51%, 32%),
    pantone-684-C: hsl(332, 36%, 84%),
    pantone-685-C: hsl(330, 35%, 79%),
    pantone-686-C: hsl(328, 33%, 72%),
    pantone-687-C: hsl(328, 31%, 63%),
    pantone-688-C: hsl(326, 28%, 52%),
    pantone-689-C: hsl(326, 40%, 38%),
    pantone-690-C: hsl(330, 49%, 25%),
    pantone-510-C: hsl(343, 53%, 83%),
    pantone-509-C: hsl(342, 54%, 81%),
    pantone-508-C: hsl(342, 52%, 78%),
    pantone-507-C: hsl(339, 44%, 70%),
    pantone-506-C: hsl(341, 43%, 36%),
    pantone-505-C: hsl(343, 43%, 30%),
    pantone-504-C: hsl(348, 36%, 25%),
    pantone-7429-C: hsl(336, 40%, 81%),
    pantone-7430-C: hsl(334, 42%, 76%),
    pantone-7431-C: hsl(335, 40%, 65%),
    pantone-7432-C: hsl(336, 38%, 54%),
    pantone-7433-C: hsl(337, 48%, 44%),
    pantone-7434-C: hsl(338, 51%, 40%),
    pantone-7435-C: hsl(333, 56%, 34%),
    pantone-691-C: hsl(354, 39%, 86%),
    pantone-692-C: hsl(352, 41%, 82%),
    pantone-693-C: hsl(351, 39%, 74%),
    pantone-694-C: hsl(349, 35%, 64%),
    pantone-695-C: hsl(348, 33%, 56%),
    pantone-696-C: hsl(350, 36%, 44%),
    pantone-697-C: hsl(351, 39%, 39%),
    pantone-496-C: hsl(348, 63%, 86%),
    pantone-495-C: hsl(347, 65%, 84%),
    pantone-494-C: hsl(346, 62%, 77%),
    pantone-493-C: hsl(347, 55%, 69%),
    pantone-492-C: hsl(357, 48%, 38%),
    pantone-491-C: hsl(356, 45%, 34%),
    pantone-490-C: hsl(358, 38%, 26%),
    pantone-503-C: hsl(355, 46%, 84%),
    pantone-502-C: hsl(350, 45%, 81%),
    pantone-501-C: hsl(351, 42%, 75%),
    pantone-500-C: hsl(351, 36%, 65%),
    pantone-499-C: hsl(4, 36%, 35%),
    pantone-498-C: hsl(2, 33%, 31%),
    pantone-497-C: hsl(2, 28%, 25%),
    pantone-5035-C: hsl(358, 31%, 82%),
    pantone-5025-C: hsl(353, 33%, 79%),
    pantone-5015-C: hsl(353, 30%, 72%),
    pantone-5005-C: hsl(352, 25%, 59%),
    pantone-4995-C: hsl(352, 23%, 50%),
    pantone-4985-C: hsl(353, 29%, 41%),
    pantone-4975-C: hsl(358, 33%, 19%),
    pantone-236-C: hsl(317, 73%, 80%),
    pantone-237-C: hsl(316, 73%, 73%),
    pantone-238-C: hsl(316, 71%, 63%),
    pantone-239-C: hsl(316, 69%, 55%),
    pantone-240-C: hsl(316, 66%, 47%),
    pantone-241-C: hsl(316, 78%, 39%),
    pantone-242-C: hsl(321, 58%, 32%),
    pantone-2365-C: hsl(316, 62%, 83%),
    pantone-2375-C: hsl(312, 65%, 68%),
    pantone-2385-C: hsl(312, 65%, 53%),
    pantone-2395-C: hsl(312, 100%, 39%),
    pantone-2405-C: hsl(312, 100%, 35%),
    pantone-2415-C: hsl(312, 100%, 31%),
    pantone-2425-C: hsl(314, 100%, 26%),
    pantone-243-C: hsl(307, 54%, 82%),
    pantone-244-C: hsl(307, 59%, 75%),
    pantone-245-C: hsl(306, 58%, 68%),
    pantone-246-C: hsl(308, 69%, 46%),
    pantone-247-C: hsl(309, 79%, 41%),
    pantone-248-C: hsl(309, 75%, 37%),
    pantone-249-C: hsl(313, 53%, 33%),
    pantone-7646-C: hsl(333, 23%, 54%),
    pantone-7647-C: hsl(330, 47%, 45%),
    pantone-7648-C: hsl(325, 67%, 36%),
    pantone-7649-C: hsl(322, 67%, 32%),
    pantone-7650-C: hsl(320, 54%, 29%),
    pantone-7651-C: hsl(314, 43%, 29%),
    pantone-7652-C: hsl(314, 41%, 26%),
    pantone-250-C: hsl(304, 48%, 82%),
    pantone-251-C: hsl(298, 51%, 74%),
    pantone-252-C: hsl(297, 53%, 60%),
    pantone-253-C: hsl(300, 74%, 39%),
    pantone-254-C: hsl(300, 68%, 35%),
    pantone-255-C: hsl(305, 52%, 29%),
    pantone-517-C: hsl(319, 48%, 85%),
    pantone-516-C: hsl(314, 44%, 82%),
    pantone-515-C: hsl(312, 48%, 78%),
    pantone-514-C: hsl(310, 46%, 69%),
    pantone-513-C: hsl(303, 49%, 39%),
    pantone-512-C: hsl(309, 46%, 35%),
    pantone-511-C: hsl(318, 38%, 28%),
    pantone-7436-C: hsl(312, 37%, 89%),
    pantone-7437-C: hsl(293, 27%, 75%),
    pantone-7438-C: hsl(298, 42%, 73%),
    pantone-7439-C: hsl(291, 26%, 63%),
    pantone-7440-C: hsl(295, 21%, 56%),
    pantone-7441-C: hsl(280, 44%, 56%),
    pantone-7442-C: hsl(282, 52%, 49%),
    pantone-2562-C: hsl(288, 51%, 78%),
    pantone-2572-C: hsl(287, 53%, 70%),
    pantone-2582-C: hsl(287, 51%, 54%),
    pantone-2592-C: hsl(289, 65%, 43%),
    pantone-2602-C: hsl(290, 73%, 35%),
    pantone-2612-C: hsl(292, 56%, 33%),
    pantone-2622-C: hsl(300, 35%, 29%),
    pantone-7653-C: hsl(300, 6%, 55%),
    pantone-7654-C: hsl(309, 18%, 55%),
    pantone-7655-C: hsl(310, 28%, 49%),
    pantone-7656-C: hsl(310, 42%, 39%),
    pantone-7657-C: hsl(311, 44%, 30%),
    pantone-7658-C: hsl(311, 34%, 31%),
    pantone-7659-C: hsl(314, 26%, 29%),
    pantone-524-C: hsl(292, 22%, 80%),
    pantone-523-C: hsl(286, 25%, 75%),
    pantone-522-C: hsl(284, 26%, 69%),
    pantone-521-C: hsl(285, 25%, 60%),
    pantone-520-C: hsl(292, 39%, 30%),
    pantone-519-C: hsl(292, 32%, 28%),
    pantone-518-C: hsl(307, 22%, 24%),
    pantone-5245-C: hsl(334, 16%, 83%),
    pantone-5235-C: hsl(330, 16%, 78%),
    pantone-5225-C: hsl(327, 16%, 73%),
    pantone-5215-C: hsl(321, 14%, 64%),
    pantone-5205-C: hsl(321, 15%, 46%),
    pantone-5195-C: hsl(321, 21%, 33%),
    pantone-5185-C: hsl(321, 21%, 24%),
    pantone-5175-C: hsl(326, 17%, 82%),
    pantone-5165-C: hsl(319, 18%, 79%),
    pantone-5155-C: hsl(316, 17%, 70%),
    pantone-5145-C: hsl(313, 15%, 54%),
    pantone-5135-C: hsl(313, 20%, 41%),
    pantone-5125-C: hsl(315, 27%, 32%),
    pantone-5115-C: hsl(320, 32%, 24%),
    pantone-531-C: hsl(285, 39%, 85%),
    pantone-530-C: hsl(282, 44%, 81%),
    pantone-529-C: hsl(281, 46%, 75%),
    pantone-528-C: hsl(279, 47%, 66%),
    pantone-527-C: hsl(280, 55%, 42%),
    pantone-526-C: hsl(283, 49%, 36%),
    pantone-525-C: hsl(291, 37%, 27%),
    pantone-256-C: hsl(286, 31%, 81%),
    pantone-257-C: hsl(288, 32%, 72%),
    pantone-258-C: hsl(290, 37%, 44%),
    pantone-259-C: hsl(293, 58%, 30%),
    pantone-260-C: hsl(297, 46%, 28%),
    pantone-261-C: hsl(298, 41%, 26%),
    pantone-262-C: hsl(303, 34%, 24%),
    pantone-2563-C: hsl(285, 40%, 74%),
    pantone-2573-C: hsl(284, 41%, 66%),
    pantone-2583-C: hsl(286, 37%, 54%),
    pantone-2593-C: hsl(287, 51%, 40%),
    pantone-2603-C: hsl(289, 60%, 32%),
    pantone-2613-C: hsl(290, 59%, 29%),
    pantone-2623-C: hsl(293, 51%, 27%),
    pantone-7660-C: hsl(265, 9%, 61%),
    pantone-7661-C: hsl(285, 16%, 51%),
    pantone-7662-C: hsl(292, 34%, 38%),
    pantone-7663-C: hsl(290, 43%, 33%),
    pantone-7664-C: hsl(283, 42%, 34%),
    pantone-7665-C: hsl(283, 34%, 32%),
    pantone-7666-C: hsl(280, 12%, 35%),
    pantone-2567-C: hsl(274, 44%, 74%),
    pantone-2577-C: hsl(273, 43%, 64%),
    pantone-2587-C: hsl(274, 43%, 48%),
    pantone-2597-C: hsl(279, 92%, 29%),
    pantone-2607-C: hsl(279, 89%, 25%),
    pantone-2617-C: hsl(279, 82%, 22%),
    pantone-2627-C: hsl(279, 68%, 19%),
    pantone-263-C: hsl(272, 39%, 84%),
    pantone-264-C: hsl(266, 50%, 77%),
    pantone-265-C: hsl(265, 51%, 60%),
    pantone-266-C: hsl(267, 52%, 49%),
    pantone-267-C: hsl(269, 62%, 38%),
    pantone-268-C: hsl(270, 50%, 34%),
    pantone-269-C: hsl(274, 42%, 30%),
    pantone-2635-C: hsl(262, 46%, 80%),
    pantone-2645-C: hsl(260, 50%, 73%),
    pantone-2655-C: hsl(260, 51%, 65%),
    pantone-2665-C: hsl(261, 50%, 56%),
    pantone-2685-C: hsl(267, 100%, 22%),
    pantone-2695-C: hsl(267, 46%, 19%),
    pantone-270-C: hsl(239, 40%, 79%),
    pantone-271-C: hsl(240, 40%, 70%),
    pantone-272-C: hsl(240, 38%, 61%),
    pantone-273-C: hsl(253, 67%, 22%),
    pantone-274-C: hsl(252, 59%, 20%),
    pantone-275-C: hsl(251, 51%, 18%),
    pantone-276-C: hsl(254, 31%, 16%),
    pantone-2705-C: hsl(243, 49%, 76%),
    pantone-2715-C: hsl(245, 51%, 68%),
    pantone-2725-C: hsl(247, 49%, 57%),
    pantone-2735-C: hsl(260, 100%, 27%),
    pantone-2745-C: hsl(261, 100%, 22%),
    pantone-2755-C: hsl(256, 75%, 22%),
    pantone-2765-C: hsl(253, 54%, 18%),
    pantone-7667-C: hsl(223, 21%, 53%),
    pantone-7668-C: hsl(233, 22%, 52%),
    pantone-7669-C: hsl(243, 24%, 49%),
    pantone-7670-C: hsl(244, 29%, 45%),
    pantone-7671-C: hsl(250, 32%, 41%),
    pantone-7672-C: hsl(250, 34%, 39%),
    pantone-7673-C: hsl(239, 24%, 43%),
    pantone-7443-C: hsl(253, 23%, 88%),
    pantone-7444-C: hsl(237, 35%, 79%),
    pantone-7445-C: hsl(249, 22%, 70%),
    pantone-7446-C: hsl(243, 39%, 66%),
    pantone-7447-C: hsl(268, 25%, 37%),
    pantone-7448-C: hsl(297, 15%, 26%),
    pantone-7449-C: hsl(314, 25%, 20%),
    pantone-7674-C: hsl(233, 23%, 62%),
    pantone-7675-C: hsl(236, 22%, 58%),
    pantone-7676-C: hsl(256, 23%, 51%),
    pantone-7677-C: hsl(269, 29%, 44%),
    pantone-7678-C: hsl(268, 33%, 42%),
    pantone-7679-C: hsl(262, 36%, 37%),
    pantone-7680-C: hsl(268, 42%, 33%),
    pantone-663-C: hsl(288, 9%, 89%),
    pantone-664-C: hsl(278, 13%, 87%),
    pantone-665-C: hsl(270, 18%, 78%),
    pantone-666-C: hsl(268, 17%, 64%),
    pantone-667-C: hsl(268, 16%, 49%),
    pantone-668-C: hsl(269, 23%, 38%),
    pantone-669-C: hsl(269, 34%, 25%),
    pantone-5315-C: hsl(248, 11%, 86%),
    pantone-5305-C: hsl(249, 13%, 80%),
    pantone-5295-C: hsl(249, 14%, 73%),
    pantone-5285-C: hsl(249, 13%, 59%),
    pantone-5275-C: hsl(248, 18%, 40%),
    pantone-5265-C: hsl(249, 25%, 30%),
    pantone-5255-C: hsl(249, 33%, 15%),
    pantone-538-C: hsl(211, 22%, 81%),
    pantone-537-C: hsl(213, 25%, 79%),
    pantone-536-C: hsl(215, 26%, 71%),
    pantone-535-C: hsl(218, 26%, 65%),
    pantone-534-C: hsl(215, 55%, 24%),
    pantone-533-C: hsl(222, 37%, 19%),
    pantone-532-C: hsl(227, 20%, 14%),
    pantone-7541-C: hsl(187, 13%, 87%),
    pantone-7542-C: hsl(192, 20%, 70%),
    pantone-7543-C: hsl(207, 12%, 64%),
    pantone-7544-C: hsl(206, 11%, 52%),
    pantone-7545-C: hsl(205, 20%, 32%),
    pantone-7546-C: hsl(207, 31%, 21%),
    pantone-7547-C: hsl(210, 37%, 12%),
    pantone-552-C: hsl(195, 33%, 79%),
    pantone-551-C: hsl(194, 34%, 73%),
    pantone-550-C: hsl(197, 37%, 67%),
    pantone-549-C: hsl(196, 35%, 57%),
    pantone-548-C: hsl(192, 100%, 15%),
    pantone-547-C: hsl(191, 100%, 12%),
    pantone-546-C: hsl(189, 75%, 11%),
    pantone-5455-C: hsl(201, 22%, 79%),
    pantone-5445-C: hsl(201, 24%, 77%),
    pantone-5435-C: hsl(203, 24%, 72%),
    pantone-5425-C: hsl(203, 23%, 58%),
    pantone-5415-C: hsl(203, 24%, 47%),
    pantone-5405-C: hsl(202, 28%, 43%),
    pantone-5395-C: hsl(202, 69%, 10%),
    pantone-642-C: hsl(206, 30%, 86%),
    pantone-643-C: hsl(207, 34%, 83%),
    pantone-644-C: hsl(209, 39%, 72%),
    pantone-645-C: hsl(210, 38%, 63%),
    pantone-646-C: hsl(209, 36%, 54%),
    pantone-647-C: hsl(206, 61%, 35%),
    pantone-648-C: hsl(210, 100%, 18%),
    pantone-649-C: hsl(210, 24%, 89%),
    pantone-650-C: hsl(211, 31%, 85%),
    pantone-651-C: hsl(213, 36%, 75%),
    pantone-652-C: hsl(214, 35%, 62%),
    pantone-653-C: hsl(211, 50%, 39%),
    pantone-654-C: hsl(209, 100%, 22%),
    pantone-655-C: hsl(214, 100%, 16%),
    pantone-656-C: hsl(210, 31%, 90%),
    pantone-657-C: hsl(213, 47%, 85%),
    pantone-658-C: hsl(214, 54%, 80%),
    pantone-659-C: hsl(214, 57%, 67%),
    pantone-660-C: hsl(213, 56%, 52%),
    pantone-661-C: hsl(219, 100%, 29%),
    pantone-662-C: hsl(226, 100%, 22%),
    pantone-7450-C: hsl(224, 29%, 80%),
    pantone-7451-C: hsl(217, 62%, 71%),
    pantone-7452-C: hsl(227, 58%, 68%),
    pantone-7453-C: hsl(214, 60%, 68%),
    pantone-7454-C: hsl(206, 36%, 54%),
    pantone-7455-C: hsl(222, 50%, 45%),
    pantone-7456-C: hsl(230, 35%, 54%),
    pantone-2706-C: hsl(225, 44%, 86%),
    pantone-2716-C: hsl(227, 57%, 76%),
    pantone-2726-C: hsl(231, 53%, 53%),
    pantone-2736-C: hsl(238, 70%, 39%),
    pantone-2746-C: hsl(238, 72%, 33%),
    pantone-2756-C: hsl(233, 68%, 25%),
    pantone-2766-C: hsl(233, 59%, 19%),
    pantone-2708-C: hsl(216, 54%, 82%),
    pantone-2718-C: hsl(219, 63%, 61%),
    pantone-2728-C: hsl(217, 100%, 37%),
    pantone-2738-C: hsl(241, 96%, 28%),
    pantone-2748-C: hsl(227, 100%, 22%),
    pantone-2758-C: hsl(222, 100%, 19%),
    pantone-2768-C: hsl(220, 83%, 16%),
    pantone-2707-C: hsl(212, 56%, 85%),
    pantone-2717-C: hsl(213, 66%, 79%),
    pantone-2727-C: hsl(213, 75%, 54%),
    pantone-2747-C: hsl(226, 100%, 22%),
    pantone-2757-C: hsl(221, 100%, 19%),
    pantone-2767-C: hsl(216, 60%, 18%),
    pantone-277-C: hsl(210, 58%, 79%),
    pantone-278-C: hsl(211, 67%, 73%),
    pantone-279-C: hsl(210, 70%, 56%),
    pantone-280-C: hsl(222, 98%, 21%),
    pantone-281-C: hsl(219, 100%, 18%),
    pantone-282-C: hsl(215, 89%, 14%),
    pantone-283-C: hsl(208, 66%, 74%),
    pantone-284-C: hsl(208, 69%, 66%),
    pantone-285-C: hsl(207, 100%, 40%),
    pantone-286-C: hsl(221, 100%, 31%),
    pantone-287-C: hsl(219, 100%, 26%),
    pantone-288-C: hsl(216, 100%, 22%),
    pantone-289-C: hsl(213, 68%, 15%),
    pantone-7681-C: hsl(217, 35%, 69%),
    pantone-7682-C: hsl(216, 36%, 56%),
    pantone-7683-C: hsl(215, 44%, 46%),
    pantone-7684-C: hsl(217, 47%, 42%),
    pantone-7685-C: hsl(216, 55%, 38%),
    pantone-7686-C: hsl(214, 67%, 34%),
    pantone-7687-C: hsl(220, 65%, 33%),
    pantone-545-C: hsl(204, 41%, 84%),
    pantone-544-C: hsl(203, 45%, 82%),
    pantone-543-C: hsl(205, 50%, 76%),
    pantone-542-C: hsl(205, 51%, 66%),
    pantone-541-C: hsl(208, 100%, 22%),
    pantone-540-C: hsl(207, 100%, 17%),
    pantone-539-C: hsl(201, 100%, 11%),
    pantone-290-C: hsl(202, 56%, 82%),
    pantone-291-C: hsl(204, 67%, 76%),
    pantone-292-C: hsl(205, 72%, 66%),
    pantone-293-C: hsl(218, 100%, 32%),
    pantone-294-C: hsl(214, 100%, 21%),
    pantone-295-C: hsl(212, 100%, 17%),
    pantone-296-C: hsl(204, 83%, 9%),
    pantone-2905-C: hsl(201, 66%, 73%),
    pantone-2915-C: hsl(202, 72%, 64%),
    pantone-2925-C: hsl(198, 100%, 44%),
    pantone-2935-C: hsl(212, 100%, 36%),
    pantone-2945-C: hsl(210, 100%, 30%),
    pantone-2955-C: hsl(207, 100%, 20%),
    pantone-2965-C: hsl(203, 100%, 12%),
    pantone-297-C: hsl(198, 72%, 68%),
    pantone-298-C: hsl(197, 77%, 58%),
    pantone-299-C: hsl(196, 100%, 44%),
    pantone-300-C: hsl(209, 100%, 36%),
    pantone-301-C: hsl(207, 100%, 26%),
    pantone-302-C: hsl(202, 100%, 18%),
    pantone-303-C: hsl(197, 100%, 11%),
    pantone-7688-C: hsl(203, 56%, 54%),
    pantone-7689-C: hsl(200, 65%, 46%),
    pantone-7690-C: hsl(198, 100%, 33%),
    pantone-7691-C: hsl(201, 100%, 30%),
    pantone-7692-C: hsl(202, 100%, 26%),
    pantone-7693-C: hsl(203, 100%, 23%),
    pantone-7694-C: hsl(203, 98%, 21%),
    pantone-2975-C: hsl(195, 66%, 76%),
    pantone-2985-C: hsl(196, 74%, 63%),
    pantone-2995-C: hsl(195, 100%, 44%),
    pantone-3005-C: hsl(204, 100%, 39%),
    pantone-3015-C: hsl(202, 100%, 30%),
    pantone-3025-C: hsl(198, 100%, 22%),
    pantone-3035-C: hsl(194, 100%, 16%),
    pantone-7695-C: hsl(199, 33%, 61%),
    pantone-7696-C: hsl(197, 32%, 54%),
    pantone-7697-C: hsl(198, 34%, 47%),
    pantone-7698-C: hsl(200, 37%, 40%),
    pantone-7699-C: hsl(201, 42%, 35%),
    pantone-7700-C: hsl(199, 70%, 29%),
    pantone-7701-C: hsl(196, 100%, 23%),
    pantone-7457-C: hsl(193, 46%, 82%),
    pantone-7458-C: hsl(196, 45%, 62%),
    pantone-7459-C: hsl(195, 47%, 48%),
    pantone-7460-C: hsl(198, 100%, 37%),
    pantone-7461-C: hsl(200, 100%, 36%),
    pantone-7462-C: hsl(204, 100%, 27%),
    pantone-7463-C: hsl(205, 100%, 14%),
    pantone-304-C: hsl(190, 63%, 76%),
    pantone-305-C: hsl(192, 76%, 63%),
    pantone-306-C: hsl(192, 100%, 44%),
    pantone-307-C: hsl(201, 100%, 33%),
    pantone-308-C: hsl(197, 100%, 24%),
    pantone-309-C: hsl(192, 100%, 14%),
    pantone-635-C: hsl(191, 60%, 78%),
    pantone-636-C: hsl(193, 65%, 72%),
    pantone-637-C: hsl(192, 70%, 59%),
    pantone-638-C: hsl(191, 100%, 42%),
    pantone-639-C: hsl(195, 100%, 39%),
    pantone-640-C: hsl(198, 100%, 36%),
    pantone-641-C: hsl(201, 100%, 31%),
    pantone-7702-C: hsl(193, 52%, 53%),
    pantone-7703-C: hsl(190, 100%, 37%),
    pantone-7704-C: hsl(194, 100%, 34%),
    pantone-7705-C: hsl(195, 100%, 29%),
    pantone-7706-C: hsl(195, 100%, 28%),
    pantone-7707-C: hsl(194, 100%, 25%),
    pantone-7708-C: hsl(194, 100%, 22%),
    pantone-628-C: hsl(186, 41%, 80%),
    pantone-629-C: hsl(189, 49%, 74%),
    pantone-630-C: hsl(190, 53%, 65%),
    pantone-631-C: hsl(190, 56%, 51%),
    pantone-632-C: hsl(190, 100%, 35%),
    pantone-633-C: hsl(194, 100%, 29%),
    pantone-634-C: hsl(196, 100%, 26%),
    pantone-310-C: hsl(189, 68%, 65%),
    pantone-311-C: hsl(187, 96%, 45%),
    pantone-312-C: hsl(191, 100%, 40%),
    pantone-313-C: hsl(193, 100%, 37%),
    pantone-314-C: hsl(193, 100%, 32%),
    pantone-315-C: hsl(191, 100%, 25%),
    pantone-316-C: hsl(187, 100%, 16%),
    pantone-3105-C: hsl(187, 65%, 64%),
    pantone-3115-C: hsl(186, 100%, 42%),
    pantone-3125-C: hsl(188, 100%, 39%),
    pantone-3135-C: hsl(190, 100%, 33%),
    pantone-3145-C: hsl(189, 100%, 27%),
    pantone-3155-C: hsl(188, 100%, 22%),
    pantone-3165-C: hsl(187, 100%, 17%),
    pantone-7709-C: hsl(187, 40%, 56%),
    pantone-7710-C: hsl(185, 100%, 35%),
    pantone-7711-C: hsl(186, 100%, 33%),
    pantone-7712-C: hsl(189, 100%, 30%),
    pantone-7713-C: hsl(186, 100%, 27%),
    pantone-7714-C: hsl(185, 100%, 25%),
    pantone-7715-C: hsl(184, 100%, 21%),
    pantone-317-C: hsl(179, 49%, 79%),
    pantone-318-C: hsl(183, 58%, 70%),
    pantone-319-C: hsl(183, 65%, 50%),
    pantone-320-C: hsl(184, 100%, 33%),
    pantone-321-C: hsl(184, 100%, 29%),
    pantone-322-C: hsl(182, 100%, 23%),
    pantone-323-C: hsl(181, 100%, 19%),
    pantone-7464-C: hsl(171, 35%, 72%),
    pantone-7465-C: hsl(170, 51%, 50%),
    pantone-7466-C: hsl(183, 100%, 36%),
    pantone-7467-C: hsl(183, 100%, 34%),
    pantone-7468-C: hsl(195, 100%, 30%),
    pantone-7469-C: hsl(197, 100%, 26%),
    pantone-7470-C: hsl(192, 100%, 22%),
    pantone-7471-C: hsl(174, 58%, 68%),
    pantone-7472-C: hsl(176, 39%, 54%),
    pantone-7473-C: hsl(172, 59%, 38%),
    pantone-7474-C: hsl(185, 100%, 25%),
    pantone-7475-C: hsl(181, 26%, 38%),
    pantone-7476-C: hsl(184, 74%, 20%),
    pantone-7477-C: hsl(196, 43%, 25%),
    pantone-5523-C: hsl(182, 22%, 76%),
    pantone-5513-C: hsl(186, 23%, 73%),
    pantone-5503-C: hsl(186, 22%, 66%),
    pantone-5493-C: hsl(186, 22%, 59%),
    pantone-5483-C: hsl(188, 29%, 43%),
    pantone-5473-C: hsl(186, 72%, 24%),
    pantone-5463-C: hsl(189, 73%, 10%),
    pantone-7716-C: hsl(177, 100%, 29%),
    pantone-7717-C: hsl(176, 100%, 26%),
    pantone-7718-C: hsl(178, 100%, 23%),
    pantone-7719-C: hsl(177, 100%, 21%),
    pantone-7720-C: hsl(175, 100%, 19%),
    pantone-7721-C: hsl(179, 100%, 18%),
    pantone-7722-C: hsl(180, 100%, 16%),
    pantone-324-C: hsl(178, 47%, 74%),
    pantone-325-C: hsl(178, 50%, 60%),
    pantone-326-C: hsl(177, 100%, 35%),
    pantone-327-C: hsl(172, 100%, 26%),
    pantone-328-C: hsl(174, 100%, 23%),
    pantone-329-C: hsl(174, 100%, 20%),
    pantone-330-C: hsl(175, 100%, 16%),
    pantone-3242-C: hsl(176, 60%, 65%),
    pantone-3252-C: hsl(177, 67%, 49%),
    pantone-3262-C: hsl(176, 100%, 37%),
    pantone-3272-C: hsl(176, 100%, 32%),
    pantone-3282-C: hsl(174, 100%, 26%),
    pantone-3292-C: hsl(173, 100%, 17%),
    pantone-3302-C: hsl(174, 100%, 15%),
    pantone-3245-C: hsl(172, 62%, 68%),
    pantone-3255-C: hsl(174, 67%, 50%),
    pantone-3265-C: hsl(173, 100%, 39%),
    pantone-3275-C: hsl(171, 100%, 35%),
    pantone-3285-C: hsl(172, 100%, 29%),
    pantone-3295-C: hsl(170, 100%, 24%),
    pantone-3305-C: hsl(171, 100%, 15%),
    pantone-3248-C: hsl(167, 49%, 62%),
    pantone-3258-C: hsl(170, 52%, 53%),
    pantone-3268-C: hsl(170, 100%, 34%),
    pantone-3278-C: hsl(166, 100%, 30%),
    pantone-3288-C: hsl(166, 100%, 25%),
    pantone-3298-C: hsl(166, 100%, 21%),
    pantone-3308-C: hsl(167, 92%, 14%),
    pantone-566-C: hsl(163, 33%, 79%),
    pantone-565-C: hsl(166, 39%, 74%),
    pantone-564-C: hsl(169, 38%, 65%),
    pantone-563-C: hsl(170, 37%, 58%),
    pantone-562-C: hsl(173, 100%, 22%),
    pantone-561-C: hsl(171, 100%, 17%),
    pantone-560-C: hsl(165, 35%, 17%),
    pantone-573-C: hsl(166, 45%, 80%),
    pantone-572-C: hsl(168, 48%, 76%),
    pantone-571-C: hsl(168, 48%, 73%),
    pantone-570-C: hsl(170, 47%, 61%),
    pantone-569-C: hsl(171, 100%, 25%),
    pantone-568-C: hsl(171, 100%, 21%),
    pantone-567-C: hsl(165, 47%, 17%),
    pantone-559-C: hsl(143, 21%, 74%),
    pantone-558-C: hsl(147, 22%, 67%),
    pantone-557-C: hsl(149, 21%, 61%),
    pantone-556-C: hsl(148, 22%, 54%),
    pantone-555-C: hsl(152, 48%, 30%),
    pantone-554-C: hsl(152, 48%, 24%),
    pantone-553-C: hsl(143, 28%, 22%),
    pantone-5595-C: hsl(132, 13%, 78%),
    pantone-5585-C: hsl(147, 14%, 70%),
    pantone-5575-C: hsl(152, 14%, 62%),
    pantone-5565-C: hsl(155, 13%, 55%),
    pantone-5555-C: hsl(156, 16%, 43%),
    pantone-5545-C: hsl(158, 22%, 34%),
    pantone-5535-C: hsl(160, 33%, 14%),
    pantone-5665-C: hsl(115, 9%, 75%),
    pantone-5655-C: hsl(120, 9%, 72%),
    pantone-5645-C: hsl(124, 9%, 67%),
    pantone-5635-C: hsl(127, 9%, 61%),
    pantone-5625-C: hsl(129, 9%, 48%),
    pantone-5615-C: hsl(128, 10%, 41%),
    pantone-5605-C: hsl(146, 24%, 17%),
    pantone-5527-C: hsl(162, 11%, 76%),
    pantone-5517-C: hsl(164, 11%, 72%),
    pantone-5507-C: hsl(167, 11%, 65%),
    pantone-5497-C: hsl(170, 10%, 55%),
    pantone-5487-C: hsl(171, 13%, 42%),
    pantone-5477-C: hsl(170, 20%, 30%),
    pantone-5467-C: hsl(171, 36%, 15%),
    pantone-621-C: hsl(144, 19%, 85%),
    pantone-622-C: hsl(150, 18%, 76%),
    pantone-623-C: hsl(157, 18%, 66%),
    pantone-624-C: hsl(157, 17%, 55%),
    pantone-625-C: hsl(161, 23%, 41%),
    pantone-626-C: hsl(163, 39%, 26%),
    pantone-627-C: hsl(166, 45%, 14%),
    pantone-331-C: hsl(166, 56%, 78%),
    pantone-332-C: hsl(167, 60%, 72%),
    pantone-333-C: hsl(170, 69%, 55%),
    pantone-334-C: hsl(166, 100%, 30%),
    pantone-335-C: hsl(166, 100%, 24%),
    pantone-336-C: hsl(166, 100%, 20%),
    pantone-337-C: hsl(159, 46%, 70%),
    pantone-338-C: hsl(163, 49%, 62%),
    pantone-339-C: hsl(166, 100%, 35%),
    pantone-340-C: hsl(158, 100%, 29%),
    pantone-341-C: hsl(161, 100%, 24%),
    pantone-342-C: hsl(161, 100%, 20%),
    pantone-343-C: hsl(160, 67%, 20%),
    pantone-7723-C: hsl(156, 35%, 48%),
    pantone-7724-C: hsl(163, 100%, 29%),
    pantone-7725-C: hsl(158, 100%, 26%),
    pantone-7726-C: hsl(157, 100%, 24%),
    pantone-7727-C: hsl(157, 100%, 22%),
    pantone-7728-C: hsl(160, 100%, 20%),
    pantone-7729-C: hsl(166, 100%, 17%),
    pantone-3375-C: hsl(160, 63%, 68%),
    pantone-3385-C: hsl(162, 64%, 56%),
    pantone-3395-C: hsl(162, 100%, 38%),
    pantone-3405-C: hsl(155, 100%, 34%),
    pantone-3415-C: hsl(157, 100%, 23%),
    pantone-3425-C: hsl(159, 100%, 19%),
    pantone-3435-C: hsl(157, 54%, 18%),
    pantone-344-C: hsl(140, 44%, 74%),
    pantone-345-C: hsl(143, 46%, 70%),
    pantone-346-C: hsl(146, 47%, 62%),
    pantone-347-C: hsl(146, 100%, 30%),
    pantone-348-C: hsl(148, 100%, 26%),
    pantone-349-C: hsl(151, 93%, 22%),
    pantone-350-C: hsl(133, 30%, 25%),
    pantone-351-C: hsl(140, 55%, 76%),
    pantone-352-C: hsl(144, 59%, 72%),
    pantone-353-C: hsl(144, 61%, 69%),
    pantone-354-C: hsl(142, 100%, 35%),
    pantone-355-C: hsl(143, 100%, 29%),
    pantone-356-C: hsl(145, 100%, 24%),
    pantone-357-C: hsl(139, 45%, 24%),
    pantone-7478-C: hsl(150, 56%, 75%),
    pantone-7479-C: hsl(150, 69%, 48%),
    pantone-7480-C: hsl(155, 100%, 37%),
    pantone-7481-C: hsl(146, 100%, 36%),
    pantone-7482-C: hsl(149, 100%, 31%),
    pantone-7483-C: hsl(139, 41%, 26%),
    pantone-7484-C: hsl(163, 100%, 17%),
    pantone-7730-C: hsl(137, 33%, 44%),
    pantone-7731-C: hsl(142, 60%, 33%),
    pantone-7732-C: hsl(150, 100%, 24%),
    pantone-7733-C: hsl(155, 100%, 22%),
    pantone-7734-C: hsl(145, 42%, 27%),
    pantone-7735-C: hsl(129, 23%, 28%),
    pantone-7736-C: hsl(139, 20%, 28%),
    pantone-7737-C: hsl(92, 49%, 44%),
    pantone-7738-C: hsl(115, 44%, 44%),
    pantone-7739-C: hsl(130, 52%, 40%),
    pantone-7740-C: hsl(123, 43%, 40%),
    pantone-7741-C: hsl(115, 37%, 39%),
    pantone-7742-C: hsl(106, 33%, 35%),
    pantone-7743-C: hsl(110, 27%, 33%),
    pantone-358-C: hsl(98, 52%, 72%),
    pantone-359-C: hsl(99, 52%, 68%),
    pantone-360-C: hsl(103, 50%, 53%),
    pantone-361-C: hsl(109, 61%, 43%),
    pantone-362-C: hsl(102, 54%, 40%),
    pantone-363-C: hsl(100, 53%, 36%),
    pantone-364-C: hsl(95, 49%, 31%),
    pantone-7485-C: hsl(84, 35%, 80%),
    pantone-7486-C: hsl(89, 56%, 73%),
    pantone-7487-C: hsl(100, 64%, 63%),
    pantone-7488-C: hsl(101, 63%, 57%),
    pantone-7489-C: hsl(96, 36%, 49%),
    pantone-7490-C: hsl(90, 35%, 44%),
    pantone-7491-C: hsl(71, 38%, 38%),
    pantone-365-C: hsl(81, 59%, 71%),
    pantone-366-C: hsl(83, 60%, 67%),
    pantone-367-C: hsl(85, 59%, 60%),
    pantone-368-C: hsl(87, 71%, 44%),
    pantone-369-C: hsl(86, 88%, 35%),
    pantone-370-C: hsl(81, 68%, 33%),
    pantone-371-C: hsl(73, 47%, 26%),
    pantone-372-C: hsl(75, 70%, 74%),
    pantone-373-C: hsl(76, 72%, 71%),
    pantone-374-C: hsl(77, 73%, 67%),
    pantone-375-C: hsl(78, 100%, 42%),
    pantone-376-C: hsl(78, 100%, 37%),
    pantone-377-C: hsl(73, 99%, 30%),
    pantone-378-C: hsl(68, 54%, 25%),
    pantone-580-C: hsl(82, 38%, 74%),
    pantone-579-C: hsl(83, 37%, 71%),
    pantone-578-C: hsl(84, 37%, 70%),
    pantone-577-C: hsl(83, 37%, 63%),
    pantone-576-C: hsl(87, 36%, 45%),
    pantone-575-C: hsl(83, 38%, 37%),
    pantone-574-C: hsl(79, 30%, 27%),
    pantone-5807-C: hsl(62, 29%, 75%),
    pantone-5797-C: hsl(63, 29%, 70%),
    pantone-5787-C: hsl(64, 27%, 64%),
    pantone-5777-C: hsl(63, 25%, 53%),
    pantone-5767-C: hsl(63, 31%, 42%),
    pantone-5757-C: hsl(64, 42%, 31%),
    pantone-5747-C: hsl(71, 39%, 19%),
    pantone-5875-C: hsl(55, 37%, 72%),
    pantone-5865-C: hsl(56, 35%, 69%),
    pantone-5855-C: hsl(55, 31%, 64%),
    pantone-5845-C: hsl(54, 29%, 56%),
    pantone-5835-C: hsl(54, 29%, 49%),
    pantone-5825-C: hsl(54, 38%, 39%),
    pantone-5815-C: hsl(54, 39%, 24%),
    pantone-5803-C: hsl(66, 21%, 72%),
    pantone-5793-C: hsl(70, 20%, 65%),
    pantone-5783-C: hsl(71, 19%, 59%),
    pantone-5773-C: hsl(70, 18%, 48%),
    pantone-5763-C: hsl(70, 24%, 39%),
    pantone-5753-C: hsl(71, 30%, 31%),
    pantone-5743-C: hsl(78, 30%, 22%),
    pantone-7492-C: hsl(70, 43%, 65%),
    pantone-7493-C: hsl(72, 31%, 67%),
    pantone-7494-C: hsl(89, 20%, 61%),
    pantone-7495-C: hsl(67, 42%, 42%),
    pantone-7496-C: hsl(70, 65%, 32%),
    pantone-7497-C: hsl(47, 17%, 41%),
    pantone-7498-C: hsl(70, 29%, 30%),
    pantone-7744-C: hsl(61, 79%, 41%),
    pantone-7745-C: hsl(61, 66%, 41%),
    pantone-7746-C: hsl(61, 53%, 40%),
    pantone-7747-C: hsl(63, 49%, 37%),
    pantone-7748-C: hsl(63, 42%, 35%),
    pantone-7749-C: hsl(61, 35%, 33%),
    pantone-7750-C: hsl(61, 32%, 30%),
    pantone-379-C: hsl(63, 74%, 66%),
    pantone-380-C: hsl(63, 75%, 58%),
    pantone-381-C: hsl(64, 100%, 43%),
    pantone-382-C: hsl(65, 100%, 42%),
    pantone-383-C: hsl(62, 100%, 34%),
    pantone-384-C: hsl(60, 100%, 29%),
    pantone-385-C: hsl(55, 57%, 30%),
    pantone-386-C: hsl(61, 77%, 67%),
    pantone-387-C: hsl(62, 80%, 56%),
    pantone-388-C: hsl(62, 80%, 52%),
    pantone-389-C: hsl(64, 100%, 44%),
    pantone-390-C: hsl(63, 100%, 37%),
    pantone-391-C: hsl(58, 100%, 30%),
    pantone-392-C: hsl(56, 94%, 26%),
    pantone-587-C: hsl(61, 62%, 72%),
    pantone-586-C: hsl(61, 64%, 69%),
    pantone-585-C: hsl(62, 63%, 65%),
    pantone-584-C: hsl(62, 62%, 59%),
    pantone-583-C: hsl(63, 85%, 41%),
    pantone-582-C: hsl(59, 76%, 32%),
    pantone-581-C: hsl(55, 51%, 25%),
    pantone-393-C: hsl(58, 81%, 70%),
    pantone-394-C: hsl(59, 83%, 58%),
    pantone-395-C: hsl(59, 85%, 51%),
    pantone-396-C: hsl(60, 100%, 44%),
    pantone-397-C: hsl(58, 100%, 37%),
    pantone-398-C: hsl(57, 100%, 34%),
    pantone-399-C: hsl(55, 100%, 31%),
    pantone-3935-C: hsl(56, 86%, 66%),
    pantone-3945-C: hsl(57, 100%, 48%),
    pantone-3955-C: hsl(56, 100%, 47%),
    pantone-3965-C: hsl(55, 100%, 47%),
    pantone-3975-C: hsl(53, 100%, 37%),
    pantone-3985-C: hsl(53, 100%, 30%),
    pantone-3995-C: hsl(50, 53%, 27%),
    pantone-600-C: hsl(56, 75%, 78%),
    pantone-601-C: hsl(56, 76%, 75%),
    pantone-602-C: hsl(56, 80%, 71%),
    pantone-603-C: hsl(55, 82%, 61%),
    pantone-604-C: hsl(55, 83%, 53%),
    pantone-605-C: hsl(55, 100%, 44%),
    pantone-606-C: hsl(52, 100%, 41%),
    pantone-607-C: hsl(55, 67%, 76%),
    pantone-608-C: hsl(55, 69%, 72%),
    pantone-609-C: hsl(56, 69%, 68%),
    pantone-610-C: hsl(55, 70%, 61%),
    pantone-611-C: hsl(55, 70%, 50%),
    pantone-612-C: hsl(54, 100%, 38%),
    pantone-613-C: hsl(52, 100%, 35%),
    pantone-461-C: hsl(53, 65%, 75%),
    pantone-460-C: hsl(52, 65%, 69%),
    pantone-459-C: hsl(52, 65%, 63%),
    pantone-458-C: hsl(52, 63%, 59%),
    pantone-457-C: hsl(50, 77%, 41%),
    pantone-456-C: hsl(50, 59%, 40%),
    pantone-455-C: hsl(48, 49%, 28%),
    pantone-614-C: hsl(54, 49%, 73%),
    pantone-615-C: hsl(54, 47%, 70%),
    pantone-616-C: hsl(54, 45%, 66%),
    pantone-617-C: hsl(53, 43%, 57%),
    pantone-618-C: hsl(53, 48%, 45%),
    pantone-619-C: hsl(53, 58%, 39%),
    pantone-620-C: hsl(52, 69%, 32%),
    pantone-7751-C: hsl(51, 55%, 54%),
    pantone-7752-C: hsl(49, 71%, 47%),
    pantone-7753-C: hsl(48, 73%, 44%),
    pantone-7754-C: hsl(47, 59%, 39%),
    pantone-7755-C: hsl(47, 48%, 36%),
    pantone-7756-C: hsl(47, 37%, 33%),
    pantone-7757-C: hsl(50, 34%, 30%),
    pantone-7758-C: hsl(55, 96%, 42%),
    pantone-7759-C: hsl(54, 100%, 38%),
    pantone-7760-C: hsl(53, 53%, 37%),
    pantone-7761-C: hsl(57, 36%, 33%),
    pantone-7762-C: hsl(70, 27%, 31%),
    pantone-7763-C: hsl(67, 22%, 30%),
    pantone-7764-C: hsl(62, 23%, 27%),
    pantone-7765-C: hsl(57, 68%, 44%),
    pantone-7766-C: hsl(56, 71%, 41%),
    pantone-7767-C: hsl(54, 57%, 42%),
    pantone-7768-C: hsl(49, 46%, 38%),
    pantone-7769-C: hsl(44, 36%, 33%),
    pantone-7770-C: hsl(46, 27%, 31%),
    pantone-7771-C: hsl(48, 20%, 25%),
    pantone-4545-C: hsl(49, 39%, 73%),
    pantone-4535-C: hsl(49, 38%, 69%),
    pantone-4525-C: hsl(47, 36%, 64%),
    pantone-4515-C: hsl(47, 33%, 56%),
    pantone-4505-C: hsl(46, 40%, 43%),
    pantone-4495-C: hsl(46, 47%, 37%),
    pantone-4485-C: hsl(42, 45%, 26%),
    pantone-454-C: hsl(55, 25%, 72%),
    pantone-453-C: hsl(54, 23%, 67%),
    pantone-452-C: hsl(53, 24%, 59%),
    pantone-451-C: hsl(53, 24%, 49%),
    pantone-450-C: hsl(43, 41%, 25%),
    pantone-449-C: hsl(45, 36%, 24%),
    pantone-448-C: hsl(43, 28%, 23%),
    pantone-7499-C: hsl(50, 69%, 82%),
    pantone-7500-C: hsl(45, 47%, 76%),
    pantone-7501-C: hsl(43, 44%, 74%),
    pantone-7502-C: hsl(41, 42%, 67%),
    pantone-7503-C: hsl(46, 27%, 53%),
    pantone-7504-C: hsl(31, 23%, 47%),
    pantone-7505-C: hsl(30, 34%, 38%),
    pantone-468-C: hsl(41, 46%, 75%),
    pantone-467-C: hsl(40, 44%, 69%),
    pantone-466-C: hsl(39, 41%, 62%),
    pantone-465-C: hsl(38, 40%, 54%),
    pantone-464-C: hsl(31, 54%, 35%),
    pantone-463-C: hsl(31, 49%, 31%),
    pantone-462-C: hsl(33, 36%, 26%),
    pantone-7506-C: hsl(40, 66%, 82%),
    pantone-7507-C: hsl(35, 94%, 79%),
    pantone-7508-C: hsl(35, 62%, 69%),
    pantone-7509-C: hsl(34, 59%, 61%),
    pantone-7510-C: hsl(33, 54%, 51%),
    pantone-7511-C: hsl(33, 63%, 44%),
    pantone-7512-C: hsl(31, 72%, 38%),
    pantone-719-C: hsl(30, 67%, 78%),
    pantone-720-C: hsl(29, 66%, 72%),
    pantone-721-C: hsl(29, 62%, 65%),
    pantone-722-C: hsl(29, 55%, 52%),
    pantone-723-C: hsl(29, 67%, 42%),
    pantone-724-C: hsl(28, 79%, 32%),
    pantone-725-C: hsl(24, 70%, 29%),
    pantone-475-C: hsl(26, 73%, 83%),
    pantone-474-C: hsl(25, 73%, 80%),
    pantone-473-C: hsl(25, 74%, 77%),
    pantone-472-C: hsl(25, 70%, 66%),
    pantone-471-C: hsl(24, 67%, 43%),
    pantone-470-C: hsl(24, 59%, 40%),
    pantone-469-C: hsl(24, 50%, 27%),
    pantone-726-C: hsl(30, 51%, 75%),
    pantone-727-C: hsl(30, 49%, 71%),
    pantone-728-C: hsl(29, 46%, 64%),
    pantone-729-C: hsl(29, 41%, 51%),
    pantone-730-C: hsl(29, 55%, 40%),
    pantone-731-C: hsl(29, 74%, 27%),
    pantone-732-C: hsl(26, 69%, 23%),
    pantone-4685-C: hsl(29, 45%, 78%),
    pantone-4675-C: hsl(28, 44%, 76%),
    pantone-4665-C: hsl(27, 41%, 67%),
    pantone-4655-C: hsl(26, 37%, 60%),
    pantone-4645-C: hsl(25, 34%, 51%),
    pantone-4635-C: hsl(26, 46%, 40%),
    pantone-4625-C: hsl(18, 46%, 21%),
    pantone-7513-C: hsl(17, 49%, 77%),
    pantone-7514-C: hsl(21, 48%, 68%),
    pantone-7515-C: hsl(23, 44%, 59%),
    pantone-7516-C: hsl(23, 56%, 38%),
    pantone-7517-C: hsl(22, 63%, 32%),
    pantone-7518-C: hsl(13, 21%, 35%),
    pantone-7519-C: hsl(26, 22%, 30%),
    pantone-4755-C: hsl(24, 29%, 78%),
    pantone-4745-C: hsl(22, 28%, 73%),
    pantone-4735-C: hsl(22, 27%, 66%),
    pantone-4725-C: hsl(19, 25%, 58%),
    pantone-4715-C: hsl(20, 26%, 46%),
    pantone-4705-C: hsl(17, 36%, 36%),
    pantone-4695-C: hsl(15, 40%, 25%),
    pantone-482-C: hsl(29, 34%, 79%),
    pantone-481-C: hsl(27, 33%, 74%),
    pantone-480-C: hsl(27, 31%, 67%),
    pantone-479-C: hsl(23, 29%, 53%),
    pantone-478-C: hsl(18, 45%, 30%),
    pantone-477-C: hsl(18, 40%, 27%),
    pantone-476-C: hsl(21, 31%, 23%),
    pantone-7527-C: hsl(47, 18%, 80%),
    pantone-7528-C: hsl(31, 18%, 72%),
    pantone-7529-C: hsl(31, 17%, 66%),
    pantone-7530-C: hsl(31, 15%, 57%),
    pantone-7531-C: hsl(31, 18%, 41%),
    pantone-7532-C: hsl(32, 24%, 31%),
    pantone-7533-C: hsl(28, 27%, 22%),
    pantone-7534-C: hsl(45, 18%, 78%),
    pantone-7535-C: hsl(44, 16%, 66%),
    pantone-7536-C: hsl(46, 14%, 59%),
    pantone-7537-C: hsl(90, 6%, 65%),
    pantone-7538-C: hsl(96, 5%, 58%),
    pantone-7539-C: hsl(77, 3%, 55%),
    pantone-7540-C: hsl(213, 6%, 31%),
    pantone-427-C: hsl(195, 4%, 82%),
    pantone-428-C: hsl(197, 6%, 77%),
    pantone-429-C: hsl(196, 6%, 66%),
    pantone-430-C: hsl(203, 7%, 52%),
    pantone-431-C: hsl(206, 10%, 40%),
    pantone-432-C: hsl(206, 17%, 24%),
    pantone-433-C: hsl(210, 22%, 15%),
    pantone-420-C: hsl(120, 2%, 78%),
    pantone-421-C: hsl(120, 1%, 70%),
    pantone-422-C: hsl(180, 2%, 63%),
    pantone-423-C: hsl(180, 2%, 55%),
    pantone-424-C: hsl(160, 1%, 45%),
    pantone-425-C: hsl(200, 3%, 34%),
    pantone-426-C: hsl(204, 6%, 15%),
    pantone-441-C: hsl(165, 7%, 76%),
    pantone-442-C: hsl(174, 6%, 65%),
    pantone-443-C: hsl(180, 6%, 59%),
    pantone-444-C: hsl(185, 5%, 47%),
    pantone-445-C: hsl(193, 5%, 33%),
    pantone-446-C: hsl(180, 4%, 26%),
    pantone-447-C: hsl(105, 4%, 22%),
    pantone-413-C: hsl(66, 7%, 71%),
    pantone-414-C: hsl(65, 6%, 64%),
    pantone-415-C: hsl(71, 5%, 55%),
    pantone-416-C: hsl(65, 5%, 48%),
    pantone-417-C: hsl(66, 5%, 38%),
    pantone-418-C: hsl(73, 6%, 31%),
    pantone-419-C: hsl(150, 3%, 13%),
    pantone-400-C: hsl(39, 11%, 74%),
    pantone-401-C: hsl(36, 9%, 66%),
    pantone-402-C: hsl(34, 8%, 58%),
    pantone-403-C: hsl(35, 7%, 52%),
    pantone-404-C: hsl(32, 9%, 43%),
    pantone-405-C: hsl(32, 9%, 38%),
    pantone-406-C: hsl(23, 10%, 74%),
    pantone-407-C: hsl(23, 9%, 67%),
    pantone-408-C: hsl(19, 7%, 56%),
    pantone-409-C: hsl(14, 7%, 49%),
    pantone-410-C: hsl(16, 9%, 42%),
    pantone-411-C: hsl(14, 10%, 34%),
    pantone-412-C: hsl(11, 11%, 20%),
    pantone-434-C: hsl(355, 11%, 79%),
    pantone-435-C: hsl(344, 11%, 73%),
    pantone-436-C: hsl(344, 10%, 63%),
    pantone-437-C: hsl(347, 10%, 44%),
    pantone-438-C: hsl(354, 13%, 31%),
    pantone-439-C: hsl(356, 13%, 24%),
    pantone-440-C: hsl(10, 12%, 20%),
    pantone-Warm-Gray-1-C: hsl(35, 13%, 82%),
    pantone-Warm-Gray-2-C: hsl(32, 13%, 77%),
    pantone-Warm-Gray-3-C: hsl(34, 11%, 72%),
    pantone-Warm-Gray-4-C: hsl(28, 10%, 68%),
    pantone-Warm-Gray-5-C: hsl(30, 10%, 64%),
    pantone-Warm-Gray-6-C: hsl(28, 9%, 61%),
    pantone-Warm-Gray-7-C: hsl(28, 8%, 55%),
    pantone-Warm-Gray-8-C: hsl(28, 8%, 51%),
    pantone-Warm-Gray-9-C: hsl(27, 8%, 47%),
    pantone-Warm-Gray-10-C: hsl(27, 9%, 44%),
    pantone-Warm-Gray-11-C: hsl(26, 11%, 39%),
    pantone-Cool-Gray-1-C: hsl(60, 4%, 85%),
    pantone-Cool-Gray-2-C: hsl(60, 2%, 81%),
    pantone-Cool-Gray-3-C: hsl(90, 2%, 78%),
    pantone-Cool-Gray-4-C: hsl(180, 1%, 74%),
    pantone-Cool-Gray-5-C: hsl(180, 1%, 70%),
    pantone-Cool-Gray-6-C: hsl(220, 2%, 66%),
    pantone-Cool-Gray-7-C: hsl(210, 2%, 60%),
    pantone-Cool-Gray-8-C: hsl(204, 2%, 54%),
    pantone-Cool-Gray-9-C: hsl(210, 3%, 47%),
    pantone-Cool-Gray-10-C: hsl(214, 3%, 40%),
    pantone-Cool-Gray-11-C: hsl(214, 4%, 34%),
    pantone-Black-2-C: hsl(47, 21%, 16%),
    pantone-Black-3-C: hsl(120, 8%, 14%),
    pantone-Black-4-C: hsl(27, 26%, 15%),
    pantone-Black-5-C: hsl(351, 18%, 21%),
    pantone-Black-6-C: hsl(210, 33%, 9%),
    pantone-Black-7-C: hsl(30, 7%, 22%),
);